.field{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 30px;
    border: 2px #123 solid;
    border-collapse: collapse;
    box-sizing: border-box;
}
.button-list{
    height: 40px;
    font-size: 30px;
    background: #547189;
    box-sizing: border-box;
}
.string{
    display: inline-block
}
.link{
    text-decoration: none;
    color: black;
}
.hide{
    display: none;
}
.favorite{
    display: inline-block;
}
.favorite button:last-child{
    background: #a59e12
}
.control-button{
    background: #547189;
    height: 40px;
    font-size: 30px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;

}
.inputfild{
    margin-bottom: 20px;
}
.inputfild input {
    width: 400px;
    height: 40px;
    font-size: 45px;
}
.label-addlist{
    width: 300px;
    height: 40px;
    font-size: 45px;
    display: inline-block;
}
.addbutton {
    margin-left: 300px;
    font-size: 45px;
    background: #175ad6;
    padding: 10px;
}